{% extends "base.html" %}

{% block content %}

<h1>Manage Balance</h1>

Current Balance: {{current_user.balance}}

<form action="" method="post">
    {{ form.hidden_tag() }}
    <br/>
    <h2>Withdraw from Balance</h2>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <p>
        {{form.withdraw_amt.label}} <br/>
        {{form.withdraw_amt(size=32)}} <br/>
        {% for error in form.withdraw_amt.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.add_amt.label}} <br/>
        {{form.add_amt(size=32)}} <br/>
        {% for error in form.add_amt.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit(class_="btn btn-black") }}</p>
    
</form>
    
{% endblock %}