{% extends "base.html" %}

{% block content %}

<br><br>

{% if current_user.is_authenticated %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<h2>Your Cart</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Seller</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Remove from Cart?</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart%}
      <tr>
        <td>{{item.product_name}}</td>
        <td>{{item.seller_name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
        <td>
            <form action="{{ url_for('cart.remove_product') }}" method="post">
                <input type="hidden" name="pid" value="{{ item.pid }}"/>
                <input type="hidden" name="sid" value="{{ item.sid }}"/>
                <input type="submit" value="Remove" />
              </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<h3>Total Price: {{totalPrice}}</h3>
<form action="{{ url_for('cart.submit') }}" method="post">
  {{ submit_cart_form.hidden_tag() }}
  {{ submit_cart_form.submit() }}
</form>
<br />

<h2>Update the Quantity of a Product:</h2>
<form action="{{ url_for('cart.index') }}" method="post">
    {{ quantity_form.hidden_tag() }}
  <p>
    {{ quantity_form.pid.label }}<br/>
    {{ quantity_form.pid }}<br/>
    {% for error in quantity_form.pid.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ quantity_form.sid.label }}<br/>
    {{ quantity_form.sid }}<br/>
    {% for error in quantity_form.sid.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ quantity_form.new_quantity.label }}<br/>
    {{ quantity_form.new_quantity(size=10) }}<br/>
    {% for error in quantity_form.new_quantity.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ quantity_form.submit() }}</p>
</form>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart!</p>
{% endif %}

{% endblock %}