{% extends "base.html" %}

{% block content %}

<br><br>

{% if current_user.is_authenticated %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <span color style="color: red; font-style: italic;">{{ message }}</span>
    {% endfor %}
  {% endif %}
{% endwith %}

<h2>Create a product!</h2>
<form action="{{ url_for('products.create') }}" method="post" enctype="multipart/form-data">
    {{ create_product_form.hidden_tag() }}
  <p>
    {{ create_product_form.name.label }}<br/>
    {{ create_product_form.name }}<br/>
    {% for error in create_product_form.name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ create_product_form.price.label }}<br/>
    {{ create_product_form.price(size=10) }}<br/>
    {% for error in create_product_form.price.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ create_product_form.image.label }}<br/>
    {{ create_product_form.image }}<br/>
    {% for error in create_product_form.image.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ create_product_form.submit() }}</p>
</form>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to create a product!</p>
{% endif %}

{% endblock %}