{% extends "base.html" %}

{% block content %}
<br>
{% if current_user.is_authenticated %}
<h3> 
  <div style="color: black; text-align: left; margin-bottom: 20px; 
    text-transform: capitalize; font-weight: bolder; font-style: bold; ">
    Welcome back, {{current_user.firstname}} 
  </div> 
</h3>
{% endif %}

{% include "products.html" %}
<br>
{% if current_user.is_authenticated %}
<h3>
  Your Recent Purchases:
</h3>

<table class="table table-hover table-bordered container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Qty Purchased</th>
      <th scope="col">Total Price</th>
      <th scope="col">Fullfillment Status</th>
      <th scope="col">Time Purchased</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history %}
      <tr>
        <th scope="row">{{purchase.oid}}</th>
        <td><a href="products/{{purchase.product_name}}"> {{purchase.product_name}} </a></td>
        <td>{{purchase.quantity}}</td>
        <td>{{purchase.price}}</td>
        <td>{{purchase.fulfilled}}</td>
        <td>{{purchase.time_purchased}}</td>        
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history</p>
{% endif %}

{% endblock %}
