{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2> 
  <div style="color: darkblue; text-align: left; margin-bottom: 25px; 
    text-transform: capitalize; font-weight: bolder; font-style: bold; 
    box-shadow: 2px 2px 20px 23px skyblue;">
    Welcome, {{current_user.firstname}} 
  </div> 
</h2>
<h2> <div style="text-align:center;"> 
  <a href="products/"> Click to see all products</a>
</div></h2>
<h2><div style="color: darkblue; text-align: left; margin-bottom: 25px; 
  text-transform: capitalize; font-weight: bolder; font-style: bold; 
  box-shadow: 2px 2px 20px 20px skyblue;">
  Rate your recent purchases:
</div></h2>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Time Purchased</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history %}
      <tr>
        <th scope="row">{{purchase.oid}}</th>
        <td><a href="products/{{purchase.product_name}}"> {{purchase.product_name}} </a></td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h2> 
  <div style="color: darkblue; text-align: left; margin-bottom: 25px; 
    text-transform: capitalize; font-weight: bolder; font-style: bold; 
    box-shadow: 2px 2px 20px 23px skyblue;">
    Welcome!
  </div> 
</h2>
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>

<h2> <div style="text-align:center;"> 
  <a href="products/"> Click to see all products</a>
</div></h2>
{% endif %}

{% endblock %}
