{% extends "base.html" %}

{% block content %}

<br><br>

{% if current_user.is_authenticated %}
<h3>Top 5 Popular Items of All Time</h3>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity Sold</th>
      </tr>
    </thead>
    <tbody>
      {% for item in most_popular_all_time %}
        <tr>
          <th scope="row">{{item.pid}}</th>
          <td>{{item.name}}</td>
          <td>{{item.quantity_sold}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<h3>Top 5 Popular Items of Last Month</h3>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity Sold</th>
      </tr>
    </thead>
    <tbody>
      {% for item in most_popular_last_month %}
        <tr>
          <th scope="row">{{item.pid}}</th>
          <td>{{item.name}}</td>
          <td>{{item.quantity_sold}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<h3>Top 5 Popular Items of Last Week</h3>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity Sold</th>
      </tr>
    </thead>
    <tbody>
      {% for item in most_popular_last_week %}
        <tr>
          <th scope="row">{{item.pid}}</th>
          <td>{{item.name}}</td>
          <td>{{item.quantity_sold}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your inventory stats!</p>
{% endif %}

{% endblock %}