{% extends "base.html" %}

{% block content %}

<style>
  .btn-analytics {
    color: white;
    background-color: #0096FF;
    border: 2px solid #0096FF;
    float: right;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .btn-analytics:hover {
    color: #0096FF;
    border: 2px solid #0096FF;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
</style>

<br><br>

<a href="{{ url_for('inventory.index') }}" class="btn-analytics">Back to Inventory Details</a>

{% if current_user.is_authenticated %}
<h3>Inventory Analytics</h3>
<div># of Products: {{ inventory_stats.count }}</div>
<div>Total Quantity of All Products: {{ inventory_stats.total }}</div>
<div>Avg. Quantity of a Product: {{ inventory_stats.avg }}</div>
<div>Max Quantity of a Product: {{ inventory_stats.max }} </div>
<div>Min Quantity of a Product: {{ inventory_stats.min }}</div>
<br />
<h3>5 Fewest Items in Inventory</h3>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity in Inventory</th>
    </tr>
  </thead>
  <tbody>
    {% for item in inventory_low_items %}
    <tr>
      <th scope="row">{{item.pid}}</th>
      <td>{{item.name}}</td>
      <td>{{item.quantity}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h3>Top 5 Popular Items of All Time</h3>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity Sold</th>
    </tr>
  </thead>
  <tbody>
    {% for item in most_popular_all_time %}
    <tr>
      <th scope="row">{{item.pid}}</th>
      <td>{{item.name}}</td>
      <td>{{item.quantity_sold}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h3>Top 5 Popular Items of Last Month</h3>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity Sold</th>
    </tr>
  </thead>
  <tbody>
    {% for item in most_popular_last_month %}
    <tr>
      <th scope="row">{{item.pid}}</th>
      <td>{{item.name}}</td>
      <td>{{item.quantity_sold}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h3>Top 5 Popular Items of Last Week</h3>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity Sold</th>
    </tr>
  </thead>
  <tbody>
    {% for item in most_popular_last_week %}
    <tr>
      <th scope="row">{{item.pid}}</th>
      <td>{{item.name}}</td>
      <td>{{item.quantity_sold}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your inventory stats!</p>
{% endif %}

{% endblock %}