{% block content %}
<body>
  <h3>Products For Sale:</h3>
  <table id="table"
    data-toggle="table"
    data-filter-control="true"
    data-show-search-clear-button="true"
    data-sortable="true"
    classes="table-sm"
    data-pagination="true"
    class="table-responsive"
    data-search="true"
    >

    <thead class="thead-dark">
      <tr>
        <th data-field="id" data-filter-control="input" data-sortable="true">Product ID</th>
        <th data-field="name" data-filter-control="input" data-sortable="true">Product Name</th>
        <th data-field="price" data-filter-control="input" data-sortable="true">Price</th>
      </tr>
    </thead>
    <tbody>
      {% for product in avail_products %}
        <tr>
          <td>{{ product.id }}</td>
          <td><a href="products/{{product.name}}"> {{ product.name }} </a></td>
          <td>${{ product.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
</body>