{% block content %}
<h3>Products For Sale:</h3>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products %}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td><a href="products/{{product.name}}"> {{product.name}} </a></td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
