{% extends "base.html" %}

{% block content %}
<style>
    .vl {
      border-left: 3px solid grey;
    }
    .column {
        padding: 20px;
    }
    .row {
        margin: 10px;
    }
</style>

<br>

<div class="row">
    <div class="column">
        <h2> {{ user_profile.firstname }} {{ user_profile.lastname }}</h2>
    </div>
    <div class="vl"></div>
    <div class="column">
        <p>Account Number: {{ user_profile.id }}</p>
        {% if user_profile.is_seller %}
        <p> {{ user_profile.firstname }} {{ user_profile.lastname }} is a seller. You can reach them at {{ user_profile.email }}</p>

        {% else %}
        <p> {{ user_profile.firstname }} {{ user_profile.lastname }} is not a seller.</p>

        {% endif %}
    </div>
</div>

{% endblock %}