{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view_product.css') }}">
<style>
    .profile-vl {
        border-left: 2px solid grey;
    }

    .profile-column {
        margin: 5px 10px;
        flex: 50%;
    }

    .profile-row {
        display: flex;
    }

    .link {
        color: grey
    }

    .rlink {
        color: teal;
        font-size: 70%;
    }
</style>

<br>

<div class="profile-row">
    <div class="profile-column">
        <h2> {{ user_profile.firstname }} {{ user_profile.lastname }} </h2>
        <p>Account Number: {{ user_profile.id }}</p>
    </div>
    <div class="profile-vl"></div>
    <div class="profile-column">

        {% if user_profile.is_seller %}
        <p> {{ user_profile.firstname }} {{ user_profile.lastname }} is a seller. You can reach them at {{
            user_profile.email }}</p>
        {% if current_user.is_authenticated: %}
            <h3><a href="{{ url_for('index.seller_reviews', uid=user_profile.id) }}" class="rlink">
                    {{user_profile.firstname}} {{user_profile.lastname}}'s Reviews </a></h3>
        {% else: %}
            <p><a href="{{ url_for('users.login') }}">Log in</a> to check this seller's reviews !</p>
        {% endif %}
        <div>
            {% if integer_rating ==0 and ceiling==0: %}
                This seller has not been rated yet
            {% else %}
                Average rating for this seller: {{avg_rating}}
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                {% for i in range(integer_rating) %}
                    <span class="fa fa-star checked"></span>
                {% endfor %}
                {% for i in range(5-integer_rating) %}
                    <span class="fa fa-star"></span>
                {% endfor %}
                <div>Rated by: {{num_ratings}} people</div>
            {% endif %}
        </div>
        {% if current_user.id != user_profile.id and bought_from_this_seller %}
        <div class="rateProduct">
            <div class="seller">Rate this seller</div>
            <form action="{{ url_for('index.add_rating_seller', seller_id=user_profile.id ) }}" method="post">
                <input class="addRatingButton" placeholder="1-5" type="number" name="Rating" min="1" max="5" />
                <input class="viewProductButton" type="submit" value="Rate" />
            </form>
        </div>
        {% endif %}
        <div class="flashMessages" id="hideMe">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

        {% else %}
        <p> {{ user_profile.firstname }} {{ user_profile.lastname }} is not a seller.</p>

        {% endif %}
    </div>
</div>

{% endblock %}