{% extends "base.html" %}

{% block content %}

<br><br>

{% if current_user.is_authenticated %}
<h2>Products Previously Rated:</h2>
<table id="table" data-toggle="table" data-filter-control="true" data-show-search-clear-button="true"
  data-sortable="true" classes="table-sm" data-pagination="true" class="table-responsive" data-search="true">

  <thead class="thead-dark">
    <tr>
      <th data-field="id" data-filter-control="input" data-sortable="true">Product ID</th>
      <th data-field="name" data-filter-control="input" data-sortable="true">Product Name</th>
      <th data-field="rating" data-filter-control="input" data-sortable="true">Rating</th>
      <th data-field="review" data-filter-control="input" data-sortable="true">Review</th>
      <th data-field="remove" data-filter-control="input" data-sortable="false">Remove from Ratings?</th>
    </tr>
  </thead>
  <tbody>
    {% for product in rated_products %}
    <tr>
      <td>{{product.pid}}</td>
      <td>{{product.name}} </td>
      <td>{{product.rating}}</td>
      <td>{{product.review}}</td>
      <td>
        <form action="{{ url_for('ratings.remove_rating') }}" method="post">
          <input type="hidden" name="pid" value="{{ product.pid }}" />
          <input type="submit" value="Remove" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>
<h2>Update the Rating of a Product:</h2>
<form action="{{ url_for('ratings.update_rating') }}" method="post">
  {{ ratings_form.hidden_tag() }}
  <p>
    {{ ratings_form.pid.label }}<br />
    {{ ratings_form.pid }}<br />
    {% for error in ratings_form.pid.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ ratings_form.new_rating.label }}<br />
    {{ ratings_form.new_rating(size=10) }}<br />
    {% for error in ratings_form.new_rating.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ ratings_form.submit() }}</p>
</form>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your ratings!</p>
{% endif %}

{% endblock %}